
@{
    ViewBag.Title = "SearchUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-lg-4">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">My Profile</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-auto">
                            <span class="avatar avatar-xl" style="background-image: url(/demo/faces/female/9.jpg)"></span>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Full Name</label>
                                <input class="form-control" placeholder="Name" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Address</label>
                        <textarea class="form-control" rows="5" disabled>Big belly rude boy, million dollar hustler. Unemployed.</textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Mobile Number</label>
                        <input class="form-control" placeholder="Mobile number" disabled>
                    </div>
                    <div class="form-group">
                        <img src="" alt="" style="height:150px;width:150px" id="imgQrCode" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="card">
            <table class="table card-table table-vcenter">
                <tr>
                    <th class="w-1"></th>
                    <th>Name</th>
                    <th class="d-none d-sm-table-cell">Date</th>
                    <th class="d-none d-md-table-cell">Amount</th>
                </tr>
                <tr>
                    <th>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="" value="">
                            <div class="custom-control-label"></div>
                        </label>
                    </th>
                    <td>Jane Pearson</td>
                    <td class="d-none d-sm-table-cell">February 10, 1994</td>
                    <td class="d-none d-md-table-cell">$1616.70</td>
                </tr>
                <tr>
                    <th>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="" value="">
                            <div class="custom-control-label"></div>
                        </label>
                    </th>
                    <td>Jane Pearson</td>
                    <td class="d-none d-sm-table-cell">February 10, 1994</td>
                    <td class="d-none d-md-table-cell">$1616.70</td>
                </tr>
                <tr>
                    <th>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="" value="">
                            <div class="custom-control-label"></div>
                        </label>
                    </th>
                    <td>Jane Pearson</td>
                    <td class="d-none d-sm-table-cell">February 10, 1994</td>
                    <td class="d-none d-md-table-cell">$1616.70</td>
                </tr>
                <tr>
                    <th>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="" value="">
                            <div class="custom-control-label"></div>
                        </label>
                    </th>
                    <td>Jane Pearson</td>
                    <td class="d-none d-sm-table-cell">February 10, 1994</td>
                    <td class="d-none d-md-table-cell">$1616.70</td>
                </tr>
                <tr>
                    <th>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="" value="">
                            <div class="custom-control-label"></div>
                        </label>
                    </th>
                    <td>Jane Pearson</td>
                    <td class="d-none d-sm-table-cell">February 10, 1994</td>
                    <td class="d-none d-md-table-cell">$1616.70</td>
                </tr>
                <tr>
                    <th>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="" value="">
                            <div class="custom-control-label"></div>
                        </label>
                    </th>
                    <td>Jane Pearson</td>
                    <td class="d-none d-sm-table-cell">February 10, 1994</td>
                    <td class="d-none d-md-table-cell">$1616.70</td>
                </tr>
                <tr>
                    <th>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="" value="">
                            <div class="custom-control-label"></div>
                        </label>
                    </th>
                    <td>Jane Pearson</td>
                    <td class="d-none d-sm-table-cell">February 10, 1994</td>
                    <td class="d-none d-md-table-cell">$1616.70</td>
                </tr>
            </table>
        </div>
        <ul class="pagination ">
            <li class="page-item page-prev disabled">
                <a class="page-link" href="#" tabindex="-1">
                    Prev
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item page-next">
                <a class="page-link" href="#">
                    Next
                </a>
            </li>
        </ul>
    </div>

</div>


