
@{
    ViewBag.Title = "TermCondition";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


    <p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>


<div class="text-center text-muted">
    Forget it, <a href="@Url.Action("Registration","Login")">send me back</a> to the sign in screen.
</div>
